name: Build LabAPI Plugin

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore
      run: dotnet restore DuplicateScpPlugin/DuplicateScpPlugin.csproj

    - name: Build
      run: dotnet build DuplicateScpPlugin/DuplicateScpPlugin.csproj -c Release --no-restore

    - name: Upload DLL
      uses: actions/upload-artifact@v4
      with:
        name: DuplicateScpPlugin
        path: DuplicateScpPlugin/bin/Release/**/DuplicateScpPlugin.dll
